@import "tailwindcss";

@theme inline {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
